<nav class="w-full bg-navy-700">
    <div class="max-w-[90rem] mx-auto px-6 py-3">
        <div class="flex items-center justify-between items-center">
            <div class="flex flex-row gap-5 items-center min-w-50">
                <a [routerLink]="['/home']" class="hover:scale-105 transition duration-300 ">
                    @defer {
                        <img src="https://res.cloudinary.com/duu4u98gb/image/upload/v1747091207/academiq-logo_gyofsk.png" class="size-8" />
                    }
                </a>
                <a [routerLink]="['/home']" class="text-lg text-white font-bold">ACADEM-IQ</a>
            </div>

            <!-- Menú -->
            <div class="flex gap-5 items-center">
                <a [routerLink]="['/categories']"
                    class="text-sm text-white/90 hover:text-white transition">Categories</a>
                <a [routerLink]="['/catalog']" class="text-sm text-white/90 hover:text-white transition">Catalog</a>
                <a [routerLink]="['/users/dashboard']"
                    class="text-sm text-white/90 hover:text-white transition">Dashboard</a>
            </div>
            <div class="hidden md:flex items-center space-x-8 min-w-50 justify-end">
                @if (!authService.isLoggedIn()) {
                <div class="flex flex-row gap-5 items-center justify-end w-full h-full">
                    <!--<button mat-button (click)="openLoginDialog()"
                        class="text-sm text-[#f9f9f9] hover:cursor-pointer hover:scale-105">Log in</button>-->
                    <button mat-button (click)="openLoginDialog()"
                        class="px-5 py-2 border borde-white bg-white text-sm text-navy-600 rounded-md hover:bg-white/90 cursor-pointer transition">
                        Log in
                    </button>
                    <button mat-button (click)="openRegisterDialog()"
                        class="px-4 py-2 border borde-white text-sm text-white rounded-md hover:bg-white/10 cursor-pointer transition">
                        Sign up
                    </button>
                </div>
                } @else {
                <div class="flex flex-row gap-5 items-center">
                    <p class="text-sm text-white/90">{{ user()?.username }}</p>
                    <div class="relative group inline-block">
                        <!-- Botón que activa el dropdown -->
                        <button class="flex items-center gap-2">
                            <figure class="text-[#f9f9f9] w-10 h-10 border-1 rounded-full overflow-hidden">
                                @defer {
                                <img src="{{ user()?.avatarUrl }}" alt="" class="w-10 h-10" />
                                }
                            </figure>
                        </button>

                        <!-- Dropdown (oculto por defecto) -->
                        <div
                            class="absolute right-0 mt-2 w-55 origin-top-left scale-95 opacity-0 invisible group-hover:scale-100 group-hover:opacity-100 group-hover:visible transition-all duration-200 transform-gpu z-[999999]">
                            <div class="bg-[#444444]  shadow-lg rounded-md py-1">
                                <div class="px-4 py-2 mb-1 text-sm text-[#f9f9f9] ">
                                    <p class="py-1">{{ user()?.firstname }} {{ user()?.lastname }}</p>
                                    <a routerLink="/users/profile/edit"
                                        class="text-xs text-blue-200 hover:text-blue-300 cursor-pointer transition duration-300">
                                        Edit profile
                                    </a>
                                </div>
                                <div class="border-t border-[#666666]"></div>
                                <a routerLink="/users/profile"
                                    class="block px-4 py-2 text-sm text-[#f9f9f9]  hover:bg-[#555555] cursor-pointer">
                                    Profile:
                                    <span class="text-sm text-blue-200">Public</span>
                                </a>
                                <a routerLink="/help"
                                    class="block px-4 py-2 text-sm text-[#f9f9f9]  hover:bg-[#555555] cursor-pointer">Help</a>
                                <div class="border-t border-[#666666]"></div>
                                <a (click)="logout()"
                                    class="block px-4 py-2 text-sm text-[#f9f9f9]  hover:bg-[#555555] cursor-pointer">Log
                                    out</a>
                            </div>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</nav>