<div class="h-screen overflow-hiden">
    <div class="flex flex-row justify-center h-full space-x-4">
        <div class="w-1/2 ml-20 hidden xl:block">
            <div class="flex flex-row gap-2 absolute top-10 left-10 text-7xl font-bold">
                <p
                    class="bg-clip-text text-transparent bg-gradient-to-r from-purple-700 via-pink-400 to-pink-200 animate-gradient-x">
                    IQ.
                </p>
                <a [routerLink]="['/home']" class="hover:scale-110 transition duration-300">
                    @defer {
                    <img src="https://res.cloudinary.com/duu4u98gb/image/upload/v1747091208/smile-emoji-2_jbdbcq.png" alt="" class="w-18 h-18" />
                    }
                </a>
            </div>
            @defer {
            <img src="https://res.cloudinary.com/duu4u98gb/image/upload/v1747091207/iq-art-image_tbt8qx.png" alt="" class="w-full h-full object-cover" />
            }
        </div>
        <div class="flex flex-col justify-center items-center gap-10 w-1/2">
            <div class="flex flex-col gap-2 w-150">
                <h3 class="text-2xl text-black font-semibold min-w-[300px]">Forgot your password</h3>
                <p class="text-zinc-600">Enter your email address and we will send you a link to reset your password.
                </p>
            </div>
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPasswordForm.valid && submit()"
                class="flex flex-col gap-4 w-150">
                <div class="flex flex-col gap-2">
                    <label class="text-sm text-zinc-500 m-0 mt-5">Email (*)</label>
                    <input type="text" placeholder="Email" formControlName="email"
                        class="text-[#888888aa] bg-white border-b border-zinc-200 my-2 px-2 py-4 w-full outline-none focus:text-black focus:border-[#666666] transition duration-500"
                        [class.text-black]="forgotPasswordForm.get('email')?.value" />
                </div>

                <div class="text-red-500 text-sm min-h-[3rem] my-1">
                    @if (errorMessage) {
                    <span>{{ errorMessage }}</span>
                    }
                </div>

                <button type="submit"
                    class="text-white text-xl py-5.5 bg-zinc-950 rounded-md hover:bg-zinc-900 cursor-pointer transition duration-300">
                    @if (loading) {
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" class="inline">
                        <circle cx="18" cy="12" r="0" fill="currentColor">
                            <animate attributeName="r" begin=".67" calcMode="spline" dur="1.5s"
                                keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite"
                                values="0;2;0;0" />
                        </circle>
                        <circle cx="12" cy="12" r="0" fill="currentColor">
                            <animate attributeName="r" begin=".33" calcMode="spline" dur="1.5s"
                                keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite"
                                values="0;2;0;0" />
                        </circle>
                        <circle cx="6" cy="12" r="0" fill="currentColor">
                            <animate attributeName="r" begin="0" calcMode="spline" dur="1.5s"
                                keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite"
                                values="0;2;0;0" />
                        </circle>
                    </svg>
                    } @else {
                    Reset password
                    }
                </button>

                <a [routerLink]="['/auth/login']"
                    class="text-sm text-black font-semibold text-center my-2 underline hover:text-zinc-700 cursor-pointer transition duration-300">Back</a>
            </form>
        </div>
    </div>
</div>