<div class="h-screen overflow-hiden">
    <div class="flex flex-row justify-center h-full space-x-4">
        <div class="w-1/2 ml-35 hidden xl:block">
            <div class="flex flex-row gap-2 absolute top-10 left-10 text-7xl font-bold">
                <p>
                    <span
                        class="bg-clip-text text-transparent bg-gradient-to-r from-purple-700 via-pink-400 to-pink-800 animate-gradient-x">
                        IQ.
                    </span>
                </p>
                @defer {
                <a routerLink="/home" class="hover:scale-110 transition duration-300">
                    <img src="{{ hostUrl }}/api/v1/files/smile-emoji-2.png" alt="" class="w-18 h-18" />
                </a>
                }
            </div>
            @defer {
            <img src="{{ hostUrl }}/api/v1/files/iq-art-image.png" alt="" class="w-full h-full object-cover" />
            }
        </div>
        <div class="flex flex-col justify-center items-center gap-10 w-1/2">
            <div class="flex flex-col gap-2 w-150">
                <h3 class="text-2xl font-semibold min-w-[300px]">Forgot your password</h3>
                <p>Enter your email address and we will send you a link to reset your password.</p>
            </div>
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPasswordForm.valid && submit()"
                class="flex flex-col gap-4 w-150">
                <div class="flex flex-col gap-2">
                    <label class="text-sm text-[#555555aa] m-0 mt-5">EMAIL (*)</label>
                    <input type="text" placeholder="Email" formControlName="email"
                        class="text-[#888888aa] bg-white border-b border-zinc-200 my-2 px-2 py-4 w-full outline-none focus:text-black focus:border-[#666666] transition duration-500"
                        [ngClass]="{ 'text-black': forgotPasswordForm.get('email')?.value }" />
                </div>

                <button type="submit"
                    class="bg-[#111111] text-white h-[5rem] rounded-md text-xl hover:bg-[#333333] cursor-pointer transition duration-300">
                    Forgot your password
                </button>
                <a routerLink="/auth/login"
                    class="text-sm text-black font-bold text-center my-2 underline hover:text-[#444444] cursor-pointer transition duration-300">back</a>

                <div class="text-red-500 text-sm min-h-[3rem] my-1">
                    @if (errorMessage) {
                    <span>{{ errorMessage }}</span>
                    }
                </div>
            </form>
        </div>
    </div>
</div>