<!-- course-player.component.html -->
<div class="max-w-[90rem] mx-auto flex flex-col lg:flex-row min-h-screen">
    <!-- Sección del reproductor (izquierda) -->
    <div class="lg:w-2/3 p-4 lg:p-6">
        <!-- Breadcrumbs -->
        <section class="flex items-center justify-between text-sm text-gray-500 mb-5">
            <div class="inline-block">
                <a [routerLink]="['/catalog']" class="hover:text-navy">Catalog</a> /
                <a [routerLink]="['/categories', course.category.name.toLowerCase()]" class="hover:text-navy">
                    {{ course.category.name}}
                </a> /
                <a [routerLink]="['/courses', course.id]" class="text-navy">{{ course.title }}</a>
            </div>
            <div>
                <button (click)="nextLesson()" [disabled]="isCourseCompleted" [ngClass]="{
    'bg-zinc-800 text-white/50 cursor-not-allowed': isCourseCompleted,
    'bg-navy hover:bg-slate-800 text-white cursor-pointer': !isCourseCompleted
  }" class="flex items-center gap-4 text-sm font-semibold px-3 py-2.5 rounded-lg shadow-sm group transition">
                    Next lesson
                    <figure [ngClass]="{ 'group-hover:rotate-45': !isCourseCompleted }" class="transition">
                        <svg width="16" height="16" viewBox="0 0 14 14">
                            <path fill="currentColor"
                                d="M10.8101 1.96222L0.726954 12.0453L1.66171 12.9801L11.7448 2.89698L11.9344 9.4447L13.208 9.07311L13.0134 2.35278C12.9877 1.46249 12.2434 0.718185 11.3531 0.692412L4.80762 0.502924L4.43487 1.77539L10.8101 1.96222Z">
                            </path>
                        </svg>
                    </figure>
                </button>
            </div>
        </section>
        <section class="mb-5">
            <app-course-player [videoSrc]="file()!.url" [autoplay]="true" />
        </section>

        <!-- Información del curso -->
        <section class="bg-white rounded-xl p-5 shadow-sm mt-5">
            <h1 class="text-2xl font-bold text-gray-800 mb-2">{{ course.title }}</h1>
            <p class="text-gray-600 mb-4">{{ course.title }}</p>

            <!-- Tabs -->
            <nav class="flex border-b border-[#e0e0e0] mb-8">
                @for (tab of tabs; track tab.id) {
                <button (click)="setActiveTab(tab.id)"
                    class="text-sm font-medium px-6 py-3 relative hover:cursor-pointer"
                    [class.text-black]="activeTab === tab.id" [class.text-zinc-500]="activeTab !== tab.id">
                    {{ tab.label }}
                    @if (activeTab === tab.id) {
                    <span class="absolute bottom-0 left-0 w-full h-0.5 bg-pink-600 rounded-t"></span>
                    }
                </button>
                }
            </nav>

            <!-- Contenido del tab -->
            @if(activeTab === 'description') {
            <div class="prose max-w-none">
                <p>{{ course.description }}</p>
            </div>
            }

            @if (activeTab === 'resources') {

            }
        </section>
    </div>

    <!-- Sección de lecciones (derecha) -->
    <section class="lg:w-1/3 p-4 lg:p-6 lg:border-l border-gray-200">
        <div class="sticky top-4 space-y-4">
            <!-- Header de lecciones -->
            <header class="flex items-center justify-between mb-2">
                <h2 class="text-lg font-bold text-gray-800">Lessons</h2>
                <span class="text-sm text-gray-500">{{ lessonsCompleted }}/15 completed</span>
            </header>


            <main class="space-y-10">
                <div>
                    <app-accordion [course]="course" [onPlayer]="true" [currentLesson]="lessonId()"
                        (lessonSelected)="onLessonSelected($event)" />
                </div>

                <div class="flex justify-center animate-fade-down" [class.hidden]="!isCourseCompleted">
                    <button [routerLink]="['/courses', course.id, 'review']"
                        class="flex items-center gap-4 text-sm text-white font-semibold px-3 py-2.5 bg-navy rounded-lg shadow-sm group hover:bg-slate-800 cursor-pointer transition">
                        Complete &nbsp; ✓
                    </button>
                </div>
                <!-- Lista de lecciones
                <div class="p-3 border border-navy text-navy rounded-lg bg-blue-50 cursor-pointer">
                    <div class="flex items-center">
                        <div
                            class="w-6 h-6 rounded-full bg-gray-100 flex items-center justify-center text-sm font-medium text-zinc-600 mr-3">
                            1
                        </div>
                        <div class="flex-grow">
                            <h3 class="font-medium text-gray-800">Introducción a Angular</h3>
                            <p class="text-sm text-gray-500">15 min</p>
                        </div>
                        <svg class="w-5 h-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20">
                            <path fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l3-2z"
                                clip-rule="evenodd" />
                        </svg>
                    </div>
                </div>

                <div class="p-3 border border-gray-200 rounded-lg cursor-pointer hover:bg-gray-50">
                    <div class="flex items-center">
                        <div class="w-6 h-6 rounded-full bg-green-100 flex items-center justify-center mr-3">
                            <svg class="w-4 h-4 text-green-600" fill="currentColor" viewBox="0 0 20 20">
                                <path fill-rule="evenodd"
                                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                    clip-rule="evenodd" />
                            </svg>
                        </div>
                        <div class="flex-grow">
                            <h3 class="font-medium text-gray-800">Componentes Básicos</h3>
                            <p class="text-sm text-gray-500">22 min</p>
                        </div>
                    </div>
                </div>

                <div class="p-3 border border-gray-200 rounded-lg cursor-not-allowed opacity-70">
                    <div class="flex items-center">
                        <div
                            class="w-6 h-6 rounded-full bg-gray-100 flex items-center justify-center text-sm font-medium text-gray-500 mr-3">
                            3
                        </div>
                        <div class="flex-grow">
                            <h3 class="font-medium text-gray-800">Directivas Avanzadas</h3>
                            <p class="text-sm text-gray-500">18 min</p>
                        </div>
                        <svg class="w-5 h-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20">
                            <path fill-rule="evenodd"
                                d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                                clip-rule="evenodd" />
                        </svg>
                    </div>
                </div>

                <div class="p-3 border border-gray-200 rounded-lg cursor-pointer hover:bg-gray-50">
                    <div class="flex items-center">
                        <div
                            class="w-6 h-6 rounded-full bg-gray-100 flex items-center justify-center text-sm font-medium text-gray-500 mr-3">
                            4
                        </div>
                        <div class="flex-grow">
                            <h3 class="font-medium text-gray-800">Servicios e Inyección</h3>
                            <p class="text-sm text-gray-500">25 min</p>
                        </div>
                    </div>
                </div> -->
            </main>
        </div>
    </section>
</div>